* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
}

h2 {
    font-size: 42px;
    font-weight: 300;
    color: white;
}

h5 {
    font-size: 21px;
    font-weight: 300;
    color: gray;
}

p, a {
    font-size: 16px;
    color: aquamarine;
}

/* Banner */

#banner h1 {
    margin: 42px 0;
}

#banner video {
    padding: 20px 0;
}

/*Treavel guide*/

#travel-guide h2 {
    margin: 30px 0;
}

#travel-guide img {
    width: 70%;
    padding: 20px 0;
}

/* Coming soon */

#coming-soon h2 {
    margin: 30px 0;
}

#coming-soon {
    margin-bottom: 30px;
}

/* Footer */

footer h5 {
    text-align: right;
    padding-bottom: 20px;
    padding-right: 10px;
}